.logo {
    height: 40px;
    // background: rgba(255, 255, 255, 0.2);
    margin: 8px;
    vertical-align: middle;
    padding-top: 1px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    -webkit-transition: all .2s ease 0s;
    -moz-transition: all .2s ease 0s;
    -ms-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
    font-size: 25px;
  }

