.layout-wrap {
    height: 100vh;
}
.layout-header {
    position: relative;
    z-index: 2;
    background-color: #fff;
    height: 50px;
    // -webkit-box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
    //     -moz-box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
    //     -ms-box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
    //     -o-box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
    //     box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
}
.layout-content {
    border: 20px solid #f0f2f5;
    background-color: #fff;
    padding: 30px ;
    min-height: fit-content;
   
}



